/* ACF block styles */
.video-box {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  flex-wrap: wrap;
}

.video-box .image-vid-btn {
  flex: 1 1 50%;
  margin-bottom: 0 !important;
  max-width: calc(50% - 10px);
}

.wp-block-cover.parallax-cover {
  max-height: 100vh;
  overflow: hidden;
}

@media screen and (max-width: 640px) {
  .video-box .image-vid-btn {
    flex: 1 1 1;
    margin: 0 !important;
    padding: 0 !important;
    max-width: calc(100% - 10px);
  }
}