
h1{
    font-size: calc(24px + (48 - 24) * ((100vw - 300px) / (1600 - 300))) !important;
  }
  
  .wp-site-blocks h2{
    font-size: calc(18px + (28 - 18) * ((100vw - 300px) / (1600 - 300))) !important;
  }
  
  .wp-site-blocks h3{
    font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300))) !important;
  }
  
  .wp-site-blocks h4{
    font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300))) !important;
  }
  
  .wp-site-blocks h5{
    font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300))) !important;
  }
  
  .wp-site-blocks h6{
    font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300))) !important;
  }
  
  .alignfull{
    max-width: unset;
    width: 100%;
  }
  
  .column-reverse{
    flex-direction: unset;
  }
  
  .plyr__controls *{
    font-family: "Montserrat", sans-serif;
  }
  
  @media screen and (min-width: 781px) {
    .column-reverse {
    flex-direction: row-reverse;
    }
  }
  
  .acc-head{
    background-color: #000;
  }
  
  .acc-head:hover{
    background-color: #333;
  }
  
  
  .acc-head.active{
    background-color: #333;
  }
  
  .footer-image{
    opacity: 0.3;
  }
  
  .video-btn-img-title{
    color: #fff !important;
  }
  
  