
.wp-block-cover h1{
  font-size: calc(24px + (48 - 24) * ((100vw - 300px) / (1600 - 300))) !important;
  text-transform: uppercase;
  letter-spacing: 5px !important;
}


h2{
  font-size: calc(18px + (28 - 18) * ((100vw - 300px) / (1600 - 300))) !important;
  font-weight: 600!important;
}


.alignfull{
	max-width: unset;
	width: 100%;
}

.column-reverse{
	flex-direction: unset;
}

@media screen and (min-width: 781px) {
  .column-reverse {
	flex-direction: row-reverse;
  }
}

.footer-image{
	opacity: 0.3;
}

.video-btn-img-title{
	color: #fff !important;
}

/* Custom Scrollbars */
::-webkit-scrollbar {
	width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #000;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
	background: #999;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555;
  }